.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}
.sidebar-blue{
	background-color: #DCEAF4;
}
.table-responsive{
    overflow-x: auto;
}

#tabla_productos  tbody tr th{
/* background-color: #F5F5F5; 
background-color: #BFFF00;
background-color: #96DCEE;
* */

background-color: #DCEAF4;
}
tabla_productos.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
	/* background-color: #BFFF00; */
}


body {
	/* background-color: #EEEFFF; */
	 background-color:#fff; 
    
    padding-bottom: 40px;
    padding-top: 40px;
}


.navbar-default {
    background-color: #96DCEE;
    border-color: #E7E7E7;
}

table.cursor,  .cursor td{
	margin:0px;
	padding:0px;
	
}
/*
.cursor{
	 padding: 8px;
}
*/


.cursor td a{
 	width:100%;
 	height: 100%;
 	display:block;
 	text-decoration: none;
 	
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td a, .table > tbody > tr > td a, .table > tfoot > tr > td a{
    
     padding: 8px;
     text-decoration: none;
   
    /*border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
   
    vertical-align: top;
   */
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    
    padding: 0px;
    /*
    border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
    vertical-align: top;
	*/
}
