{% extends "base.html" %}
{% block title %}Buscar{% endblock %}
{% block content %}
<!--
{% block titulo %} <title>Nuevo Producto</title>{% endblock %}
-->

<style type="text/css">
textarea[name="descripcion"] {
border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
   }	
   
form.form-agregar-productos{
	margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}   
</style>








	



{% if user.is_authenticated %}
	
	<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
		<h2>Agregar un producto</h2>	
		{{ form.as_p }}
		<button class="btn btn-lg btn-primary btn-block">Enviar</button>
	</form>
{% else %}

<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
	 <h2>Debe autentificarse primero</h2>

	</form>
{% endif %}		
	



{% endblock %}