{% extends "base.html" %}
{% block content %}
	
			{{ producto.nombre }} <br>
		
		{{ producto.usuario }} 
		{{  producto.descripcion }}  <br>
		
		
		{{  producto.valor }}  <br>


{% if producto.usuario.id == user.id %} 


  Respuesta<br>
  
  	<form action="" method="post"  enctype="form-data">{% csrf_token %}
		<h2>Agregar una Respuesta</h2>	
		{{ other_form.as_p }}
		<input type="hidden" name="action" value="respuesta">
		<button class="btn btn-lg btn-primary btn-block">Enviar</button>
	</form>
  
{% else %}

		
{% if user.is_authenticated %}

	<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
		<h2>Agregar una Pregunta</h2>	
		{{ form.as_p }}
		<input type="hidden" name="action" value="pregunta">
		<button class="btn btn-lg btn-primary btn-block">Enviar</button>
	</form>
	
	
	

{% else %}

	debe autentificarse primero<br>
	

  
{% endif %}		


	
	

  
{% endif %}		



<h2>Preguntas</h2>

{% for pregunta in preguntas %}
  
  		{{ pregunta.pregunta }} <br>

{% endfor %}

{% endblock %}
<!--
<ul>
{% for producto in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>

-->