{% extends "base.html" %}
{% block content %}
	
	
<div class="col-sm-3 col-md-2 sidebar">
		
</div>	

<div class="col-sm-8 table-responsive">

{% if producto.usuario.id == user.id %} 
	
		{{ producto.nombre }} <br>
		
		{{ producto.usuario }} 
		{{  producto.descripcion }}  <br>
		
		
		{{  producto.valor }}  <br>

<!--
{{ other_form.pregunta  }}

{{ other_form.pregunta |default_if_none:"nothing" }}
-->
	{% if other_form.pregunta > 0  %}
  
  	<form id="form_producto_respuesta" action="" method="post"  enctype="form-data">{% csrf_token %}
		<h2>Agregar una Respuesta</h2>	
		{{ other_form.as_p }}
		<input type="hidden" name="action" value="respuesta">
		<button class="btn btn-lg btn-primary btn-block">Enviar</button>
	</form>
  	{% endif %}
  	
  	
  

  	
{% else %}



		
{% if user.is_authenticated %}

	<form id="form_producto_pregunta" action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
		<h2>Agregar una Pregunta</h2>	
		{{ form.as_p }}
		<input type="hidden" name="action" value="pregunta">
		<button class="btn btn-lg btn-primary btn-block">Enviar</button>
	</form>
	
	
	
	
	

{% else %}

	debe autentificarse primero<br>
	

  
{% endif %}		


	
	
  
{% endif %}		



<h2>Preguntas del producto</h2>

{% for pregunta in preguntas %}
  
{{ request.user }} Pregunta:		{{ pregunta.pregunta }} <br>
{{ producto.usuario }}Responde:		{{ pregunta.respuesta }}<br>
{% endfor %}
</div>



	<div class="col-sm-2">
		<img src="/media/baner/banner.jpeg">
	</div>




{% endblock %}
<!--
<ul>
{% for producto in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>

-->