{% extends "base.html" %}
{% block title %}Buscar{% endblock %}
{% block content %}
{% load endless %}
{% paginate 20 entries %}




		
		
<div class="row">		
	
	<!--
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas">
	-->
	<div class="col-sm-3 col-md-2 sidebar" role="navigation">
		
    
       	
   		<!--
		Bienvenido {{ user.username }}<br>
		-->
		<form action="{% url 'productos:buscar_productos' %}" method="get">
		{{ form.as_p }}
		<input type="submit" value="Buscar" />
		</form>
	<br>
	
	</div>
	
<!--
<div class="col-xs-4 col-sm-4">
-->


<div class="col-sm-8 table-responsive">
	<table class="table">
	
		<th colspan="4" style="text-align: center;">
		{% get_pages %}
Mostrando productos 
{{ pages.current_start_index }}-{{ pages.current_end_index }} del total
{{ pages.total_count }}.
	</th>
	
	
</tr>			

		
	<tr>
		<th>Fecha</th>
		<th>Articulo</th>
		<th>Imagen</th>
		<th>Precio</th>
	</tr>

	
<tr>





	
	

{% for entry in entries %}



	
		
  	<tr>
  		<td>{{ entry.fecha_inicio|date:"m-d-Y" }}</td>
  		<td>{{ entry.nombre }}</td>
	
		<td>{{ entry.imagen_1 }}</td>
  		<td>{{ entry.valor }}</td>
  		
  		  		
  	</tr>	
  	


   


{% endfor %}



	

  






{% if entries %}

{% else %}
   
   <tr><td> <h5>No existen productos en la busqueda que realizaste</h5></td></tr>
  
   
   	</table>
   
{% endif %}


	 	</table>


{%  include "productos/paginacion-productos.html" %}
</div>
<div class="col-sm-2" role="navigation" style="float: right;"><img src="/media/baner/banner.jpeg"></div>


</div>

 

<!--

{% if productos %}

{% for producto in productos %}
    {# Each "producto" is a producto model object. #}
    
    <a href="{% url 'productos:detalle producto.id'  %}">{{ producto.nombre|upper }}<br /></a>
    
   
{% endfor %}

<ul class="pagination">
    <li>
        {% if productos.has_previous %}
            <a href="?page={{ productos.previous_page_number }}&buscar={{ buscar }}&region={{ region }}">&laquo;</a>
        {% endif %}
    </li>
    
   
 {% for i in productos.paginator.page_range %}
  {% ifequal i productos.number %}
    <li class="active"><a href="?page={{ i }}&buscar={{ buscar }}&region={{ region }}">{{ i }} </a></li>
  {% else %}
    <li class=""><a href="?page={{ i }}&buscar={{ buscar }}&region={{ region }}">{{ i }} </a></li>
  {% endifequal %} 
{% endfor %}


    
	
    
     <li>
        {% if productos.has_next %}
            <a href="?page={{ productos.next_page_number }}&buscar={{ buscar }}&region={{ region }}">&raquo;</a>
        {% endif %}
       </li>
</ul>




{% else %}
	    <p>No existen productos</p>
	{% endif %}
-->



{% endblock %}

