{% extends "base.html" %}
{% block title %}Buscar{% endblock %}
{% block content %}
{% load endless %}
{% paginate 1 entries %}




		
		
<div class="row-fluid">		
	
	<div class="row-fluid">
	
	<div class="span4">
			Bienvenido {{ user.username }}
		<form action="{% url productos:buscar_productos %}" method="get">
		{{ form.as_p }}
		<input type="submit" value="Buscar" />
		</form>
	
	
</div>


{% for entry in entries %}
   
		<div class="span4">
   
   
  {{ entry.id }} - {{ entry.nombre }}
  
  	</div>


   
{% endfor %}
{% get_pages %}
{% if pages.paginated %}



<div class="hidden-sm visible-md visible-lg">
	

    <ul class="pagination pagination-centered">
    	
    		<li>{{ pages }}</li>
    		
    	</ul>
    	 
</div>  
  
  
 <div class="visible-sm visible-xs hidden-lg hidden-md ">
 	Mostrando productos x pagina <br>
 	
 	<ul class="pagination pagination-centered">
      	
      	  <li>{{ pages.previous }} </li>
  			<li>{{ pages.next }}</li>
      	
      </ul>
 </div> 
      
  

  



{% endif %}


{% if entries %}

{% else %}
   
   
   <h1>No existen productos</h1>
   
{% endif %}

	
	</div>
	


</div>



 <!--
    /productos/producto/{{ producto.id }}
   -->
<!--

{% if productos %}

{% for producto in productos %}
    {# Each "producto" is a producto model object. #}
    
    <a href="{% url productos:detalle producto.id  %}">{{ producto.nombre|upper }}<br /></a>
    
   
{% endfor %}

<ul class="pagination">
    <li>
        {% if productos.has_previous %}
            <a href="?page={{ productos.previous_page_number }}&buscar={{ buscar }}&region={{ region }}">&laquo;</a>
        {% endif %}
    </li>
    
   
 {% for i in productos.paginator.page_range %}
  {% ifequal i productos.number %}
    <li class="active"><a href="?page={{ i }}&buscar={{ buscar }}&region={{ region }}">{{ i }} </a></li>
  {% else %}
    <li class=""><a href="?page={{ i }}&buscar={{ buscar }}&region={{ region }}">{{ i }} </a></li>
  {% endifequal %} 
{% endfor %}


    
	
    
     <li>
        {% if productos.has_next %}
            <a href="?page={{ productos.next_page_number }}&buscar={{ buscar }}&region={{ region }}">&raquo;</a>
        {% endif %}
       </li>
</ul>




{% else %}
	    <p>No existen productos</p>
	{% endif %}
-->



{% endblock %}

