{% extends "base.html" %}

    {% block title %}Buscar{% endblock %}


	

{% block content %}
	
	
	

		Bienvenido {{ user.username }}
		
		

		
		<form action="" method="get">
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>


	{% if all_productos %}
	
	   <ul>
	    {% for producto in all_productos %}
	        <li><a href="/productos/{{ producto.id }}/">{{ producto.nombre }}</a></li>
	    {% endfor %}
	    </ul>
	
	{% elif results %}
	Se encontraron los siguentes productos:
	<ol>
	{% for result in results %}
	    <li>{{result}}</li>
	{% endfor %}
	</ol>

	
	
	{% else %}
	    <p>No existen productos</p>
	{% endif %}



{% endblock %}

