{% extends "base.html" %}
{% block title %}Buscar{% endblock %}
{% block content %}
{% load endless %}
{% paginate 20 entries %}



<script>

$(document).ready(function(){
	$(".cursor").css("cursor","pointer");
	$("#id_buscar").addClass("form-control");
	$("#id_region").addClass("form-control");
	  //$('.selector').bootstrapSelect(); 
	  //$("#id_region").selectpicker({});
  
	

	
});
</script>

		
		
<div class="row">		
	
	<!--
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas">
	-->
	<div class="col-sm-3 col-md-2 sidebar-blue" role="navigation">
		
    
       	
   		<!--
		Bienvenido {{ user.username }}<br>
		-->
		<form action="{% url 'productos:buscar_productos' %}" method="get">
		{{ form.as_p }}
		<input type="submit" value="Buscar" />
		</form>
	<br>
	
	</div>
	
<!--
<div class="col-xs-4 col-sm-4">
-->


<div class="col-sm-8 table-responsive">
	<table id="tabla_productos" class="table table-hover" data-link="row">
		


		
		
	
	<tr>
		<th>Fecha</th>
		<th>Articulo</th>
		<th>Imagen</th>
		<th>Precio</th>
	</tr>

	




	
	

{% for producto in entries %}



	
		
  	<tr class="cursor" data-href="{% url 'productos:detalle' producto.id  %}" title="{% url 'productos:detalle' producto.id  %}" alt="{% url 'productos:detalle' producto.id  %}"> 
  		<td><a href="{% url 'productos:detalle' producto.id  %}">{{ producto.fecha_inicio|date:"m-d-Y" }}</a></td>
  		<td><a href="{% url 'productos:detalle' producto.id  %}">{{ producto.nombre }}</a></td>
	
		<td><a href="{% url 'productos:detalle' producto.id  %}">
			<img src="/media/{{ producto.imagen_1 }}/" width="80px" height="80px;">
			
			</a></td>
  		<td><a href="{% url 'productos:detalle' producto.id  %}">{{ producto.valor }}</a></td>
  		
  		  	
  	</tr>	
  	


   


{% endfor %}



	

  






{% if entries %}

<tr>
		
	
		<th colspan="4" style="text-align: center;">
			
{% get_pages %}
Mostrando productos 
{{ pages.current_start_index }}-{{ pages.current_end_index }} del total
{{ pages.total_count }}.
	</th>
	
	
</tr>	

</table>
{% else %}
   
   <tr><td colspan="4"> <h5>No existen productos en la busqueda que realizaste</h5></td></tr>
  
   
   	</table>
   
{% endif %}

	

	 	


{%  include "productos/paginacion-productos.html" %}
</div>
<div class="col-sm-2" role="navigation" style="float: right;"><img src="/media/baner/banner.jpeg"></div>


</div>

 

<!--

{% if productos %}

{% for producto in productos %}
    {# Each "producto" is a producto model object. #}
    
    <a href="{% url 'productos:detalle producto.id'  %}">{{ producto.nombre|upper }}<br /></a>
    
   
{% endfor %}

<ul class="pagination">
    <li>
        {% if productos.has_previous %}
            <a href="?page={{ productos.previous_page_number }}&buscar={{ buscar }}&region={{ region }}">&laquo;</a>
        {% endif %}
    </li>
    
   
 {% for i in productos.paginator.page_range %}
  {% ifequal i productos.number %}
    <li class="active"><a href="?page={{ i }}&buscar={{ buscar }}&region={{ region }}">{{ i }} </a></li>
  {% else %}
    <li class=""><a href="?page={{ i }}&buscar={{ buscar }}&region={{ region }}">{{ i }} </a></li>
  {% endifequal %} 
{% endfor %}


    
	
    
     <li>
        {% if productos.has_next %}
            <a href="?page={{ productos.next_page_number }}&buscar={{ buscar }}&region={{ region }}">&raquo;</a>
        {% endif %}
       </li>
</ul>




{% else %}
	    <p>No existen productos</p>
	{% endif %}
-->



{% endblock %}

