<html>
<body>

<html>
<head>
    <title>Search</title>
</head>
<body>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="/productos/busqueda/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</body>
</html>

{% if results %}
	Se encontraron los siguentes productos:
<ol>
{% for result in results %}
    <li>{{result}}</li>
{% endfor %}
</ol>



{% endif %}

{% if not results %}
	No se encontraron los productos
{% endif %}

</body>
</html>
