<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
<head>
{% load url from future %}

{% load compressed %}
{% load i18n cache %}
{% url 'index' as home_url %}
{% url 'productos:listar_productos' as listar_p %}
{% url 'productos:buscar_productos' as buscar_p %}



<title>{% block title %}{% trans 'Compra y vendes lo que quieras' %}{% endblock %}</title>

{% block meta %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">

<meta name="description" content="Un sitio para buscar productos" />
<meta name="keywords" content="venta, compra" />
<meta name="google-site-verification" content="" />
{% endblock %}


<!-- Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/media/global/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}global/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/media/global/bootstrap/css/bootstrap-test.css"/> 
<link rel="stylesheet" type="text/css" href="/media/pagination/css/style.css">
<link rel="stylesheet" type="text/css" href="/media/global/css/other.css"/> 
<!--
<link rel="stylesheet" type="text/css" href="/media/global/css/style.css"/> 
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}global/bootstrap/css/bootstrap.min.css"/>
-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/media/global/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/media/global/bootstrap/js/bootstramp-pag.min.js"></script>




{% block js %}
    {{ block.super }}
    <!--
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    -->
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate({pageSelector: 'div#entries'});</script>
{% endblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  
  
  
    <style type="text/css">
    	body{ padding: 70px 0px; }
    	
   .navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    	
    </style>

  </head>

  <body>


        
        
        
         <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Todo-Avisos.cl</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% ifequal request.path home_url %}active{% endifequal %}"><a href="{{ home_url }}"> Home</a></li>
            
            <li class="dropdown {% if request.path == buscar_p or request.path == listar_p  %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="">
                	<a href="{{ listar_p }}">Buscar Productos</a>
                	</li>
             
              </ul>
            </li>
            
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
         </ul>
          <ul class="nav navbar-nav navbar-right">
    		 </ul>
    
        </div>
      </div>
    </div>
        



  
  
 
 <div class="container-fluid">{% block content %}{% endblock %}</div>
 
  



   
  </body>
</html>




